


.btn-color-num{
    --background: rgb(146, 150, 151) !important; /* Cambia este color por el que prefieras */
    --color: #ffffff;
  
}

.selected-button {
    --background: #FFC50D !important; /* Cambia este color por el que prefieras */
    --color: #ffffff;
}

.text-label{
  font-size: 10px !important;
}