


.btn-color-num{
    --background: rgb(146, 150, 151) !important; /* Cambia este color por el que prefieras */
    --color: #ffffff;
  
}

.selected-button {
    --background: rgb(8, 124, 23) !important; /* Cambia este color por el que prefieras */
    --color: #ffffff;
  }

.comprado-chip{
    --background: rgb(18, 78, 134) !important;
    --color: #000000;
}

.text-label{
  font-size: 10px !important;
}