
ion-card-header{
  background-color: rgb(3, 111, 153);
}

ion-card-title{
  --color: white !important;
  font-size: 12px !important;
}

  .card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .btn-action{
    --background: none !important;
    border: none !important;
    color: white !important;
    font-size: 12px; /* Ajusta el tamaño del ícono */

  }