
ion-card-header{
  background-color: #0097B2 !important;
}

ion-header{
  background-color: #0097B2 !important;
}

ion-card-title{
  --color: #FFC50D !important;
  font-size: 20px !important;
}

  .card-header {
    --background: #0097B2 !important;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px;
    margin: 0px;
  }

  .btn-action{
    --background: none !important;
    border: none !important;
    color: white !important;
    font-size: 12px; /* Ajusta el tamaño del ícono */

  }