/* Asegura que ion-card-header sea el contenedor relativo */
ion-card > ion-card-header {
    background-color: var(--ion-color-primary);
    position: relative; /* Añadir posición relativa */
  }
  
  /* Estilo para el título del card */
  ion-card-title {
    color: white !important;
    font-size: 14px;
  }
  
  /* Estilo para el botón de eliminar */
  .delete-button {
    --icon-size: 24px; /* Ajusta el tamaño del icono */
    color: rgb(17, 216, 166);
    background-color: white;
    position: absolute;
    top: 0px;
    right: 10px;
    border-radius: 30px;

  }
  
  