<ion-header>
  <ion-toolbar>
    <ion-title>{{ isEditing ? 'Editar' : 'Registrar' }} comprador</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismiss()">Cerrar</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <p>Números seleccionados:</p>
  <div>
    <ion-chip *ngFor="let num of selectedNumbers" [disabled]="true">
      {{ num }}
    </ion-chip>
  </div>
  <p>Total a pagar: ${{ totalAPagar }}</p>

  <ion-item>
    <ion-label position="floating">Nombre del comprador</ion-label>
    <ion-input [(ngModel)]="nombreComprador" [disabled]="isEditing"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">¿Pago completo?</ion-label>
    <ion-checkbox [(ngModel)]="pagoCompleto" (ionChange)="onPagoCompletoChange($event)"></ion-checkbox>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Monto a pagar</ion-label>
    <ion-input [(ngModel)]="abono" [disabled]="pagoCompleto" onkeypress="onAbonoInput($event)"></ion-input>
  </ion-item>
  <ion-grid>
    <ion-row>
      <ion-col size="6">
        <ion-button class="btn-color-success" (click)="guardar()" expand="full" type="submit">{{ isEditing ? 'Editar' : 'Guardar' }}</ion-button>
      </ion-col>
      <ion-col size="6">
        <ion-button expand="full" color="danger" (click)="dismiss()">Cancelar  <ion-icon name="close-circle-outline"></ion-icon></ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>


